/* Phone Responsive */
@media screen and (max-width: 1280px) {
    body {
        overflow: hidden;
    }

    .heroCanvas {
        overflow: scroll;
    }

    .heroCanvas:after {
        display: none;
    }

    .heroCanvas #svgArrow {
        display: none;
    }

    .heroCanvasPhone {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
    }

    .heroCanvasPhone:after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background: gradient(linear, left bottom, left top, from(#000), to(transparent));
        background: linear-gradient(0deg, #000, transparent);
    }

    .arrowPhoneBackground {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255, 255, 255, 0.1);
        height: 50px;
        width: 70px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3px);
        z-index: 99;
    }

    .arrowPhoneBackground #svgArrowPhone {
        opacity: 0.5;
        height: 45px;
        width: 35px;
        animation: none;
        display: block;
    }

    .arrowPhoneBackgroundhAC {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255, 255, 255, 0.1);
        height: 50px;
        width: 70px;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3px);
        z-index: 99;
    }

    .arrowPhoneBackgroundhAC #svgArrowPhone2 {
        opacity: 0.5;
        height: 45px;
        width: 35px;
        animation: none;
        display: block;
        transform: rotate(180deg);
    }

    .heroImages {
        transition: transform 0s;
        top: 50%;
        left: 50%;
    }
    
    .heroText {
        font-size: 30px;
    }
    
    .heroText h1:nth-child(2) {
        font-size: 30px;
    }
    
    
    /* Image Projects */
    .imageProjects {
        position: absolute;
        top: -100px;
        left: -100px;
        text-align: center;
        opacity: 0;
        animation: fading 3s forwards;
        animation-delay: 0.5s;
    }
    
    .imageProjects h1 {
        margin-top: 20px;
        color: #505050;
        cursor: default;
        font-family:'SF Pro Display Regular';
        letter-spacing: 3px;
    }
    
    .imageProjects svg {
        transition: 0.5s;
        height: 100px;
    }
    
    .imageProjects svg:hover {
        opacity: 0.5;
    }
    
    #ImageProjects:hover + .textAppearing_imgProjects {
        display: none;
    }
    
    .textAppearing_imgProjects {
        display: none;
    }
    
    
    /* Image Jobs */
    .imageJobs {
        position: absolute;
        top: 700px;
        left: -50px;
        text-align: center;
        opacity: 0;
        animation: fading 2s forwards;
        animation-delay: 0.3s;
    }
    
    .imageJobs h1 {
        margin-top: 20px;
        color: #505050;
        cursor: default;
        font-family:'SF Pro Display Regular';
        letter-spacing: 3px;
    }
    
    .imageJobs svg {
        transition: 0s;
        height: 100px;
    }
    
    .imageJobs svg:hover {
        opacity: 1;
    }
    
    #ImageJobs:hover + .textAppearing_imgJobs {
        display: none;
    }
    
    .textAppearing_imgJobs {
        display: none;
    }
    
    
    /* Image Locations */
    .imageLocations {
        position: absolute;
        text-align: center;
        top: 0;
        right: -100px;
        opacity: 0;
        animation: fading 2.5s forwards;
        animation-delay: 0s;
    }
    
    .imageLocations h1 {
        margin-top: 20px;
        color: #505050;
        cursor: default;
        font-family:'SF Pro Display Regular';
        letter-spacing: 3px;
    }
    
    .imageLocations svg {
        transition: 0s;
        height: 100px;
    }
    
    .imageLocations svg:hover {
        opacity: 1;
    }
    
    #ImageLocations:hover + .textAppearing_imgLocations {
        display: none;
    }
    
    .textAppearing_imgLocations {
        display: none;
    }
    
    
    /* Image About Me */
    .imageAbMe {
        position: absolute;
        text-align: center;
        bottom: -120px;
        right: -100px;
        opacity: 0;
        animation: fading 2.5s forwards;
        animation-delay: 0.7s;
    }
    
    .imageAbMe h1 {
        margin-top: 20px;
        color: #505050;
        cursor: default;
        font-family:'SF Pro Display Regular';
        letter-spacing: 3px;
    }
    
    .imageAbMe svg {
        transition: 0s;
        height: 100px;
    }
    
    .imageAbMe svg:hover {
        opacity: 1;
    }
    
    #ImageAbMe:hover + .textAppearing_imgAbMe {
        display: none;
    }
    
    .textAppearing_imgAbMe {
        display: none;
    }
    
    
    /* Content with image + contact */
    .heroAfterContent {
        position: relative;
        height: 100vh;
        overflow: scroll;
    }

    .flexContent {
        display: flex;
        flex-direction: column;
    }

    /* Image Part */
    .hacCTitle {
        font-size: 40px;
    }

    .imagePart {
        width: 100%;
    }
    
    .imagePart img{
        width: 250px;
        height: 400px;
        margin-bottom: 100px;
    }
    
    /* Contact Part */
    .contactPart {
        width: 100%;
    }
    
    .contactBox {
        width: 300px;
        padding-top: 30px;
        margin-bottom: 200px;
    }
    
    .inputField {
        width: 250px;
        margin-top: 45px;
    }


    /* Footer */
    .footer svg {
        transition: none;
    }
    
    .footer svg:hover {
        opacity: 1;
    }

    .footer span {
        transition: none;
    }
    
    .footer span:hover {
        opacity: 1;
    }
    

    /* The "Screws" */
    .imageRandom1 {
        position: absolute;
        top: -200px;
        left: 200px;
    }
    
    .imageRandom2 {
        display: none;
    }
    
    .imageRandom3 {
        position: absolute;
        bottom: 200px;
        left: -150px;
    }
    
    .imageRandom4 {
        position: absolute;
        top: 300px;
        right: -150px;
    }
    
    .imageRandom5 {
        position: absolute;
        bottom: -300px;
        right: -200px;
    }
    
    .imageRandom6 {
        position: absolute;
        top: -300px;
        left: -100px;
    }
    
    .imageRandom7 {
        position: absolute;
        bottom: -300px;
        left: -100px;
    }
    
    .imageRandom8 {
        position: absolute;
        top: -350px;
        right: -200px;
    }
}